<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>َAnimated Login Form</title>
  <link rel="stylesheet" href="../../public/css/styles.css">
</head>

<body>

  <form class="box" action="/user/create" method="post">
    <h1>Cadastro</h1> <br>
    <input type="text" class="form-control" placeholder="Nome" name="nome" required>
    <input type="text" class="form-control" placeholder="Email" name="email" required>
    <input type="text" class="form-control" placeholder="Telefone" name="telefone">
    <input type="text" class="form-control" placeholder="Senha" name="senha" required>
    <input type="submit" name="save" value="Submit">
  </form>


</body>

</html>